# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
.env/
.venv/

# =========================
# Distribution / packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter notebooks
# =========================
.ipynb_checkpoints

# =========================
# VSCode
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# Test / coverage
# =========================
.coverage
htmlcov/

# =========================
# Generated results
# =========================
results/